body {
  padding: 0px;
  margin: 0px;
  font-family: 'Futura', sans-serif;
  color: black;
}

.container-fluid div {
  /*background-color: #333;*/
  border-left: 1px solid white;
  border-right: 1px solid white;
}

.box {
  border: 2px solid gray;
  width: 420px;
  height: 200px;
}

.journey-1 {
  background-color: white;
}

.journey-1:hover {
  background-color: lavender;
}

.journey-2 {
  background-color: white;
}

.journey-2:hover {
  background-color: #777;
}

.journey-3 {
  background-color: white;
}

.journey-3:hover {
  background-color: #eee;
}

.journey-4 {
  background-color: white;
}

.journey-4:hover {
  background-color: #222;
}

.journey-5 {
  background-color: white;
}

.journey-5:hover {
  background-color: green;
}

.journey-6 {
  background-color: white;
}

.journey-6:hover {
  background-color: purple;
}

.journey-7 {
  background-color: white;
}

.journey-7:hover {
  background-color: pink;
}

.journey-8 {
  background-color: white;
}

.journey-8:hover {
  background-color: lavender;
}

.journey-9 {
  background-color: white;
}

.journey-9:hover {
  background-color: orange;
}

.row {
  font-size: 50px;
  text-align: center;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.navbar:hover {
  background-color: lavender;
}

.navbar {
  padding-left: 450px;
}

/*css for pictures*/

.escape {
  padding-top: 50px;
  padding-left: 100px;
}

.hiking {
  padding-top: 50px;
  padding-left: 100px;
}

.london {
  padding-top: 50px;
  padding-left: 100px;
}

.paris {
  padding-top: 50px;
  padding-left: 100px;
}

.photo {
  width: 50%;
  height: auto;
}

.scotland {
  padding-top: 50px;
  padding-left: 100px;
}

.seattle {
  padding-top: 50px;
  padding-left: 100px;
}

.snorkeling {
  padding-top: 50px;
  padding-left: 100px;
}

.tahoe {
  padding-top: 50px;
  padding-left: 100px;
}

.vmware {
  padding-top: 50px;
  padding-left: 100px;
}

/*css for pictures*/

.with-border {
  border: 3px solid gray;
}

@import url('http://getbootstrap.com/dist/css/bootstrap.css');
 html, body, .container-table {
    height: 100%;
}
